In [15]:
import pandas as pd
data = pd.read_csv('SalaryPrediction.csv')
data

Wage        0
Age         0
Club        0
League      0
Nation      0
Position    0
Apps        0
Caps        0
dtype: int64

In [10]:
print(data)

            Wage  Age       Club             League Nation    Position  Apps  \
0     46,427,000   23        PSG  Ligue 1 Uber Eats    FRA     Forward   190
1     42,125,000   30        PSG  Ligue 1 Uber Eats    BRA   Midfilder   324
2     34,821,000   35        PSG  Ligue 1 Uber Eats    ARG     Forward   585
3     19,959,000   31  R. Madrid            La Liga    BEL     Forward   443
4     19,500,000   31    Man UFC     Premier League    ESP  Goalkeeper   480
...          ...  ...        ...                ...    ...         ...   ...
3902       3,400   19       Vigo            La Liga    ESP    Defender     0
3903       3,200   18  Famalicao      Primiera Liga    BRA  Goalkeeper     0
3904       2,900   18       Vigo            La Liga    ESP     Forward     0
3905       2,700   18       Vigo            La Liga    ESP    Defender     0
3906       1,400   18       Vigo            La Liga    ESP    Defender     0

      Caps
0       57
1      119
2      162
3      120
4       45
...    ...
3902     0
3903     0
3904     0
3905     0
3906     0

[3907 rows x 8 columns]

In [11]:
import pandas as pd
df= pd.read_excel('SalaryPrediction.xlsx')
df.head(10)

       Wage  Age       Club             League Nation    Position  Apps  Caps
0  46427000   23        PSG  Ligue 1 Uber Eats    FRA     Forward   190    57
1  42125000   30        PSG  Ligue 1 Uber Eats    BRA   Midfilder   324   119
2  34821000   35        PSG  Ligue 1 Uber Eats    ARG     Forward   585   162
3  19959000   31  R. Madrid            La Liga    BEL     Forward   443   120
4  19500000   31    Man UFC     Premier League    ESP  Goalkeeper   480    45
5  18810000   30  R. Madrid            La Liga    AUT    Defender   371    94
6  18200000   29      Inter            Serie A    BEL     Forward   427   102
7  18200000   30  Liverpool     Premier League    EGY     Forward   367    85
8  18200000   27    Chelsea     Premier League    ENG   Midfilder   326    77
9  18200000   29    Man UFC     Premier League    FRA    Defender   287    86

In [8]:
import pandas as pd
dataFrame = pd.read_csv('SalaryPrediction.txt')
print(dataFrame)

            Wage  Age       Club             League Nation    Position  Apps  \
0     46,427,000   23        PSG  Ligue 1 Uber Eats    FRA     Forward   190
1     42,125,000   30        PSG  Ligue 1 Uber Eats    BRA   Midfilder   324
2     34,821,000   35        PSG  Ligue 1 Uber Eats    ARG     Forward   585
3     19,959,000   31  R. Madrid            La Liga    BEL     Forward   443
4     19,500,000   31    Man UFC     Premier League    ESP  Goalkeeper   480
...          ...  ...        ...                ...    ...         ...   ...
3902       3,400   19       Vigo            La Liga    ESP    Defender     0
3903       3,200   18  Famalicao      Primiera Liga    BRA  Goalkeeper     0
3904       2,900   18       Vigo            La Liga    ESP     Forward     0
3905       2,700   18       Vigo            La Liga    ESP    Defender     0
3906       1,400   18       Vigo            La Liga    ESP    Defender     0

      Caps
0       57
1      119
2      162
3      120
4       45
...    ...
3902     0
3903     0
3904     0
3905     0
3906     0

[3907 rows x 8 columns]

In [9]:
data.columns

Index(['Wage', 'Age', 'Club', 'League', 'Nation', 'Position', 'Apps', 'Caps'], dtype='object')

In [12]:
print(data[['Club','Age','League']])

           Club  Age             League
0           PSG   23  Ligue 1 Uber Eats
1           PSG   30  Ligue 1 Uber Eats
2           PSG   35  Ligue 1 Uber Eats
3     R. Madrid   31            La Liga
4       Man UFC   31     Premier League
...         ...  ...                ...
3902       Vigo   19            La Liga
3903  Famalicao   18      Primiera Liga
3904       Vigo   18            La Liga
3905       Vigo   18            La Liga
3906       Vigo   18            La Liga

[3907 rows x 3 columns]

In [13]:
print(data.iloc[1:4])

         Wage  Age       Club             League Nation   Position  Apps  Caps
1  42,125,000   30        PSG  Ligue 1 Uber Eats    BRA  Midfilder   324   119
2  34,821,000   35        PSG  Ligue 1 Uber Eats    ARG    Forward   585   162
3  19,959,000   31  R. Madrid            La Liga    BEL    Forward   443   120

In [16]:
print(data.iloc[2,1])

35

In [16]:
data.describe()

               Age         Apps         Caps
count  3907.000000  3907.000000  3907.000000
mean     24.120553   140.057077     8.926542
std       4.935638   131.694425    20.518234
min      18.000000     0.000000     0.000000
25%      20.000000    15.000000     0.000000
50%      24.000000   115.000000     0.000000
75%      28.000000   224.500000     6.000000
max      41.000000   715.000000   180.000000

In [17]:
print(data.loc[data['Club'] == 'Arsenal'])

           Wage  Age     Club          League Nation    Position  Apps  Caps
78    9,360,000   21  Arsenal  Premier League    BRA     Forward    80     3
104   8,320,000   29  Arsenal  Premier League    GHA   Midfilder   281    40
180   6,240,000   25  Arsenal  Premier League    UKR    Defender   132    52
181   6,240,000   23  Arsenal  Premier League    NOR   Midfilder   242    43
183   6,240,000   25  Arsenal  Premier League    BRA     Forward   212    56
197   5,720,000   27  Arsenal  Premier League    BEL    Defender   290    19
201   5,720,000   30  Arsenal  Premier League    ITA   Midfilder   395    44
202   5,720,000   25  Arsenal  Premier League    SCO    Defender   170    32
205   5,720,000   29  Arsenal  Premier League    SUI   Midfilder   383   104
237   5,200,000   24  Arsenal  Premier League    BRA    Defender   134     0
288   4,680,000   24  Arsenal  Premier League    ENG    Defender   177     4
338   4,160,000   24  Arsenal  Premier League    ENG  Goalkeeper   156     3
341   4,160,000   22  Arsenal  Premier League    POR   Midfilder    88     0
366   3,900,000   23  Arsenal  Premier League    ENG     Forward    82     0
450   3,380,000   23  Arsenal  Premier League    JPN    Defender   170    28
514   3,016,000   22  Arsenal  Premier League    POL    Defender    91     2
537   2,860,000   22  Arsenal  Premier League    ENG     Forward    77     3
588   2,600,000   21  Arsenal  Premier League    ENG     Forward   103    18
613   2,600,000   30  Arsenal  Premier League    EGY   Midfilder   236    92
752   2,080,000   28  Arsenal  Premier League    USA  Goalkeeper   129    17
775   2,080,000   21  Arsenal  Premier League    FRA    Defender    90     5
781   2,080,000   26  Arsenal  Premier League    ENG    Defender   112     0
790   2,080,000   22  Arsenal  Premier League    ENG   Midfilder    67     0
2202    260,000   19  Arsenal  Premier League    ROU   Midfilder    23     0
2207    260,000   18  Arsenal  Premier League    ENG     Forward     2     0
2464    156,000   19  Arsenal  Premier League    NED   Midfilder     0     0
2589    130,000   20  Arsenal  Premier League    EST  Goalkeeper    10    14
2668    114,000   21  Arsenal  Premier League    ENG   Midfilder    81     0
2746    104,000   22  Arsenal  Premier League    NOR     Forward    40     0
2881     78,000   21  Arsenal  Premier League    ENG  Goalkeeper     8     0
2887     78,000   18  Arsenal  Premier League    WAL    Defender     4     0
2888     78,000   18  Arsenal  Premier League    ENG     Forward     0     0
2889     78,000   18  Arsenal  Premier League    ENG    Defender     1     0
2894     78,000   18  Arsenal  Premier League    POR   Midfilder     0     0
2925     78,000   20  Arsenal  Premier League    ENG   Midfilder     0     0
3105     52,000   19  Arsenal  Premier League    NED     Forward     0     0
3109     52,000   19  Arsenal  Premier League    ENG  Goalkeeper     0     0
3117     52,000   18  Arsenal  Premier League    NIR    Defender     0     0
3118     52,000   18  Arsenal  Premier League    ENG    Defender     0     0
3122     52,000   18  Arsenal  Premier League    IRL   Midfilder     4     0

In [24]:
data.sort_values(['Nation', 'Club'], ascending=[1,0])

,Wage,Age,Club,League,Nation,Position,Apps,Caps
1721,"567,000",30,Vallecano,La Liga,ALB,Defender,317,6
944,"1,595,000",33,Torino,Serie A,ALB,Goalkeeper,279,73
1060,"1,328,000",23,Sassuolo,Serie A,ALB,Midfilder,187,7
3599,"21,500",19,Sassuolo,Serie A,ALB,Midfilder,0,0
2680,"112,000",30,Salento,Serie A,ALB,Defender,258,13
...,...,...,...,...,...,...,...,...
346,"4,160,000",23,Leicester,Premier League,ZAM,Forward,138,31
3296,"33,500",18,Atalanta,Serie A,ZAM,Midfilder,22,0
2137,"293,000",26,Reims,Ligue 1 Uber Eats,ZIM,Midfilder,150,22
1287,"1,032,000",26,Mallorca,La Liga,ZIM,Forward,162,22
1075,"1,300,000",22,Bournemouth,Premier League,ZIM,Defender,42,6

In [28]:
data['Total Apps'] = data['Apps'] + data['Caps']
data

,Wage,Age,Club,League,Nation,Position,Apps,Caps,Total Apps
0,"46,427,000",23,PSG,Ligue 1 Uber Eats,FRA,Forward,190,57,247
1,"42,125,000",30,PSG,Ligue 1 Uber Eats,BRA,Midfilder,324,119,443
2,"34,821,000",35,PSG,Ligue 1 Uber Eats,ARG,Forward,585,162,747
3,"19,959,000",31,R. Madrid,La Liga,BEL,Forward,443,120,563
4,"19,500,000",31,Man UFC,Premier League,ESP,Goalkeeper,480,45,525
...,...,...,...,...,...,...,...,...,...
3902,"3,400",19,Vigo,La Liga,ESP,Defender,0,0,0
3903,"3,200",18,Famalicao,Primiera Liga,BRA,Goalkeeper,0,0,0
3904,"2,900",18,Vigo,La Liga,ESP,Forward,0,0,0
3905,"2,700",18,Vigo,La Liga,ESP,Defender,0,0,0
3906,"1,400",18,Vigo,La Liga,ESP,Defender,0,0,0

In [31]:
new_data =data[['Club', 'League', 'Nation', 'Position', 'Wage', 'Age','Apps', 'Caps','Total Apps']]
new_data.to_csv('Modified.csv')

In [29]:
new_data.to_excel('Modified.xlsx' )

NameError: name 'new_data' is not defined

In [30]:
new_data.to_csv('Modified.txt', sep='\t')

NameError: name 'new_data' is not defined

In [21]:
dt= data.loc[(data['Club'] == 'PSG')   & (data['Age'] >= 20)]
dt.reset_index(drop=True, inplace=True)
dt

          Wage  Age Club             League Nation    Position  Apps  Caps
0   46,427,000   23  PSG  Ligue 1 Uber Eats    FRA     Forward   190    57
1   42,125,000   30  PSG  Ligue 1 Uber Eats    BRA   Midfilder   324   119
2   34,821,000   35  PSG  Ligue 1 Uber Eats    ARG     Forward   585   162
3   12,381,000   29  PSG  Ligue 1 Uber Eats    ITA   Midfilder   327    49
4   12,381,000   28  PSG  Ligue 1 Uber Eats    BRA    Defender   273    69
5   11,710,000   36  PSG  Ligue 1 Uber Eats    ESP    Defender   547   180
6   11,177,000   23  PSG  Ligue 1 Uber Eats    ITA  Goalkeeper   239    46
7    8,924,000   23  PSG  Ligue 1 Uber Eats    MAR    Defender   167    51
8    8,598,000   27  PSG  Ligue 1 Uber Eats    FRA    Defender   159    28
9    7,222,000   29  PSG  Ligue 1 Uber Eats    ESP    Defender   212    11
10   4,594,000   25  PSG  Ligue 1 Uber Eats    ESP    Defender   222     9
11   4,091,000   22  PSG  Ligue 1 Uber Eats    POR   Midfilder    78     3
12   3,869,000   30  PSG  Ligue 1 Uber Eats    POR    Defender   294    61
13   3,476,000   25  PSG  Ligue 1 Uber Eats    POR   Midfilder   177    32
14   2,579,000   24  PSG  Ligue 1 Uber Eats    FRA    Defender   184     1
15   2,392,000   26  PSG  Ligue 1 Uber Eats    ESP   Midfilder   206    15
16   2,235,000   29  PSG  Ligue 1 Uber Eats    ESP  Goalkeeper   204     1
17   1,798,000   20  PSG  Ligue 1 Uber Eats    POR    Defender    74    15

In [22]:
dt.loc[dt['Position'].str.contains('er')]

          Wage  Age Club             League Nation    Position  Apps  Caps
1   42,125,000   30  PSG  Ligue 1 Uber Eats    BRA   Midfilder   324   119
3   12,381,000   29  PSG  Ligue 1 Uber Eats    ITA   Midfilder   327    49
4   12,381,000   28  PSG  Ligue 1 Uber Eats    BRA    Defender   273    69
5   11,710,000   36  PSG  Ligue 1 Uber Eats    ESP    Defender   547   180
6   11,177,000   23  PSG  Ligue 1 Uber Eats    ITA  Goalkeeper   239    46
7    8,924,000   23  PSG  Ligue 1 Uber Eats    MAR    Defender   167    51
8    8,598,000   27  PSG  Ligue 1 Uber Eats    FRA    Defender   159    28
9    7,222,000   29  PSG  Ligue 1 Uber Eats    ESP    Defender   212    11
10   4,594,000   25  PSG  Ligue 1 Uber Eats    ESP    Defender   222     9
11   4,091,000   22  PSG  Ligue 1 Uber Eats    POR   Midfilder    78     3
12   3,869,000   30  PSG  Ligue 1 Uber Eats    POR    Defender   294    61
13   3,476,000   25  PSG  Ligue 1 Uber Eats    POR   Midfilder   177    32
14   2,579,000   24  PSG  Ligue 1 Uber Eats    FRA    Defender   184     1
15   2,392,000   26  PSG  Ligue 1 Uber Eats    ESP   Midfilder   206    15
16   2,235,000   29  PSG  Ligue 1 Uber Eats    ESP  Goalkeeper   204     1
17   1,798,000   20  PSG  Ligue 1 Uber Eats    POR    Defender    74    15

In [26]:
import re
dt.loc[dt['Nation'].str.contains('a|p', flags=re.I)]

          Wage  Age Club             League Nation    Position  Apps  Caps
0   46,427,000   23  PSG  Ligue 1 Uber Eats    FRA     Forward   190    57
1   42,125,000   30  PSG  Ligue 1 Uber Eats    BRA   Midfilder   324   119
2   34,821,000   35  PSG  Ligue 1 Uber Eats    ARG     Forward   585   162
3   12,381,000   29  PSG  Ligue 1 Uber Eats    ITA   Midfilder   327    49
4   12,381,000   28  PSG  Ligue 1 Uber Eats    BRA    Defender   273    69
5   11,710,000   36  PSG  Ligue 1 Uber Eats    ESP    Defender   547   180
6   11,177,000   23  PSG  Ligue 1 Uber Eats    ITA  Goalkeeper   239    46
7    8,924,000   23  PSG  Ligue 1 Uber Eats    MAR    Defender   167    51
8    8,598,000   27  PSG  Ligue 1 Uber Eats    FRA    Defender   159    28
9    7,222,000   29  PSG  Ligue 1 Uber Eats    ESP    Defender   212    11
10   4,594,000   25  PSG  Ligue 1 Uber Eats    ESP    Defender   222     9
11   4,091,000   22  PSG  Ligue 1 Uber Eats    POR   Midfilder    78     3
12   3,869,000   30  PSG  Ligue 1 Uber Eats    POR    Defender   294    61
13   3,476,000   25  PSG  Ligue 1 Uber Eats    POR   Midfilder   177    32
14   2,579,000   24  PSG  Ligue 1 Uber Eats    FRA    Defender   184     1
15   2,392,000   26  PSG  Ligue 1 Uber Eats    ESP   Midfilder   206    15
16   2,235,000   29  PSG  Ligue 1 Uber Eats    ESP  Goalkeeper   204     1
17   1,798,000   20  PSG  Ligue 1 Uber Eats    POR    Defender    74    15

In [24]:
import re
dt.loc[dt['Nation'].str.contains('a|o',flags=re.I, regex=True)]

          Wage  Age Club             League Nation    Position  Apps  Caps
0   46,427,000   23  PSG  Ligue 1 Uber Eats    FRA     Forward   190    57
1   42,125,000   30  PSG  Ligue 1 Uber Eats    BRA   Midfilder   324   119
2   34,821,000   35  PSG  Ligue 1 Uber Eats    ARG     Forward   585   162
3   12,381,000   29  PSG  Ligue 1 Uber Eats    ITA   Midfilder   327    49
4   12,381,000   28  PSG  Ligue 1 Uber Eats    BRA    Defender   273    69
6   11,177,000   23  PSG  Ligue 1 Uber Eats    ITA  Goalkeeper   239    46
7    8,924,000   23  PSG  Ligue 1 Uber Eats    MAR    Defender   167    51
8    8,598,000   27  PSG  Ligue 1 Uber Eats    FRA    Defender   159    28
11   4,091,000   22  PSG  Ligue 1 Uber Eats    POR   Midfilder    78     3
12   3,869,000   30  PSG  Ligue 1 Uber Eats    POR    Defender   294    61
13   3,476,000   25  PSG  Ligue 1 Uber Eats    POR   Midfilder   177    32
14   2,579,000   24  PSG  Ligue 1 Uber Eats    FRA    Defender   184     1
17   1,798,000   20  PSG  Ligue 1 Uber Eats    POR    Defender    74    15

In [27]:
dt.loc[dt['Total Apps'] > 350, ['Position']] = 'LEGEND'
dt

KeyError: 'Total Apps'

AttributeError: module 'numpy' has no attribute 'arrange'